* {
  box-sizing: border-box;
}

@keyframes hover {
  from { margin-top: 0px;}
  to { margin-top: -3px;}
}

.column {
  float: left;
  width: 33%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #282828;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card:hover {
  animation-name: hover;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
