body {
  background-color: #181818;
  color: #dddddd;
  padding: none;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
  color: #bbbbff;
}

a:hover {
  color: white;
}

.main-content {
  padding: 0 10%;
}

.card-label {
  color: #888888;
  font-weight: bold;
}

.image-button:hover {
  opacity: 0.7;
}

.medium {
  padding: 0px;
  font-weight: normal;
  margin: 0px;
  font-size: 10pt;
  color: #777777;
}

.small {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  font-size: 8pt;
  color: #555555;
}
