main {
    color: white;
}

pre,
blockquote {
    background-color: #222222 !important;
    border-radius: 5px;
}

code {
    color: #bbbbbb !important;
    font-family: 'Noto Sans Mono', monospace !important;
}

kbd {
    color: #dddddd !important;
    background: #444444;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #555555;
    border-bottom: 2px solid #666666;
    font-family: 'Noto Sans Mono', monospace !important;
    border-radius: 3px;
}

mjx-container {
    color: rgb(202, 240, 255);
}