ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #212121;
}

li {
  float: left;
  display: block;
  color: #cccccc;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li a {
  color: white;
}

li a:hover {
  color: cyan;
}

.nav-arrow {
  color: #666666;
}